@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-secondary: #f5f5f5;
  --input: #f5f5f5;
  --foreground: #171717;
  --foreground-0: #171717;
  --border: #262626;
  --primary: #c0ac72;
  --primary-foreground: #ffffff;
  --primary-50: #fbf8ed;
  --primary-100: #f5efd9;
  --primary-200: #ede3b5;
  --primary-400: #d5c18a;
  --primary-500: #c0ac72;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --error: #ef4444;
  --error-secondary: #f87171;
  --error-bg: #fca5a5;
  --success: #4ade80;
  --success-secondary: #16a34a;
  --card: #f5f5f5;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --background-secondary: #000;
  --input: #000;
  --border: #262626;
  --foreground: #ededed;
  --foreground-0: #ededed;
  --border: #262626;
  --primary: #c0ac72;
  --primary-foreground: #171717;
  --primary-50: #fbf8ed;
  --primary-100: #f5efd9;
  --primary-200: #ede3b5;
  --primary-400: #d5c18a;
  --primary-500: #c0ac72;
  --accent: #262626;
  --accent-foreground: #ededed;
  --error: #ef4444;
  --error-secondary: #f87171;
  --error-bg: #fca5a5;
  --success: #4ade80;
  --success-secondary: #16a34a;
  --card: #262626;
}

body {
  color: var(--foreground);
  background: var(--background);
}
